#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
  }

  .header-info {
    display: flex;
    align-items: center;
  }

  .header-info img {
    width: 7%;
    height: 7%;
    margin-right: 10px;
  }

  .header-info p {
   
    margin: 0;
    position: relative;
    top:10px;
  }

  .vertical-line {
    border-left: 2px solid black;
    height: 30px;
    margin: 0 30px;
  }

  .header-icons {
    display: flex;
    align-items: center;
  }

  .header-icons img {
    width: 100%;
    height: 100%;
    margin-right: 50px;
  }

  @media (max-width: 768px) {
    #header {
      display: none;
    }
    #wrap{
      font-size: 1.5rem;
      text-align: center;
    
    }
  }
  .bo{
    background: url("./images/bg_home.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vb;
  }
  .box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2ex;
    margin: 20px;
    position: relative;
    margin-bottom: 20px;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);

  }
  
  @media (max-width: 576px) {
    .box {
      text-align: center;
    }
   
  
    .box img {
      display: block;
      margin: 0 auto;
    }
  }
  
  
  .carousel-container {
    height: auto;
    min-height: 100%;
    margin-bottom: 20px;
  }

  .carousel-inner {
    height: 100%;
  }

  .carousel-item {
    height: 100%;
  }
 
  .text-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: justify;
  }

  @media (max-width: 576px) {
    .text-content {
      font-size: 18px;
    }
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .image-container .col-md-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .image-container img {
    width: 1px;
    height: 100px;
    object-fit: cover;
    padding: 10px;
  }
  
  .image-container p {
    text-align: center;
  }
 
   .custom-box {
          width: 1000px;
          height: 550px;
          background-color: white1;
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 10px;
      }
      .column{
          padding:5px
      }
      .custom-column {
          padding:  0px 50px; /* Adjust the value as needed */
        }
        /* .contact{
          position: absolute;
          top:20px;
        } */
  @media (max-width: 767px){
    .navbar-collapse {
      position: fixed;
      top: 0;
      bottom: 0;
      right: -100%;
      width: 70%;
      z-index: 100;
      background-color: #f8f9fa;
      transition: right 0.3s ease-in-out;
    }
  }

    .navbar-collapse.show {
      right: 0;
    }

    .slider {
        padding: 3em 2em;
        font: normal 40px/50px Arial, sans-serif;
       
        color: #000;
      }
    p {
        height: 50px;
        float: left;
        margin-right: 0.3em;
        margin-top: 0px
      }
      .strong{
        float: left;
        overflow: hidden;
        position: relative;
        height: 50px;
      }
      .slide {
       display: inline-block;
      color: #d01212;
      position: relative;
      white-space: nowrap;
      top: 0;
      left: 0;
      animation: move 5s;
      animation-iteration-count: infinite;
      animation-delay: 1s;
      }
      
      @keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
    
      }
      .wrap{
        
        font-size: 2rem;
        word-wrap: break-word;
        position: absolute;
        top:-60px;
      }