
.box {
      
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2ex;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    top:0px;
    display: flex;
    position: relative;
   
  }
  
  .carousel-container {
    margin-bottom: 20px;
    background-size: cover;
  }

  .carousel-container img {
   width:auto;
   height: 375px;
   padding: 10px; 
  }
  

  @media (max-width: 768px) {
    .box {
      padding: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 2ex;
      margin: 20px;
      background-color: rgba(255, 255, 255, 0.8);
      top:0px;
      display: flex;
      position: relative;
    }

    .box img {
      display: block;
      margin: 0 auto;
    }

    .carousel-container {
      margin-bottom: 20px;
      background-size: cover;
    }
  
    .carousel-container img {
     width:auto;
     height: 200px;
    
    }
  }
  
  
 
 

  .text-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
  }

  @media (max-width: 768px) {
    .text-content {
      font-size: 2vw;
    }
    .text-bold {
      font-size: 3vw;
    }
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .image-container .col-md-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .image-container img {
    width:auto;
    height: auto;
    object-fit: cover;
    padding: 10px;
  }
  
  .image-container p {
    text-align: center;
  }

  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
  }

  .header-info {
    display: flex;
    align-items: center;
  }

  .header-info img {
    width: 7%;
    height: 7%;
    margin-right: 10px;
  }

  .header-info p {
    margin: 0;
  }

  .vertical-line {
    border-left: 1px solid black;
    height: 30px;
    margin: 0 30px;

  }

  .header-icons {
    display: flex;
    align-items: center;
  }

  .header-icons img {
    width: 100%;
    height: 100%;
    margin-right: 50px;
  }

  @media (max-width: 768px) {
    #header {
      display: none;
    }
  }

  .bo{
      background: url("./images/background_image.png") no-repeat center center fixed;
      background-size: 100% 100%;
      height: 100vb;
      width:100vw;
      justify-content: flex-end;
    }