.vector-icon {
  position: relative;
  width: 35px;
  height: 28px;
  flex-shrink: 0;
}
.div1 {
  position: absolute;
  top: 0;
  left: 0;
}
.div {
  position: relative;
  width: 250px;
  height: 28px;
  flex-shrink: 0;
}
.frame-child {
  position: relative;
  width: 209px;
  height: 28px;
  flex-shrink: 0;
}
.frame-child {
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 35px;
}
.jbrosinfrasgmailcom,
.vector-icon1 {
  position: relative;
  width: 32px;
  height: 27px;
  flex-shrink: 0;
}
.jbrosinfrasgmailcom {
  width: 255px;
  height: 23px;
  font-size: var(--font-size-xl);
}
.vector-parent {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.iconfacebook,
.icontwitter {
  position: relative;
  width: 14.29px;
  height: 23.81px;
  flex-shrink: 0;
}
.icontwitter {
  width: 21.44px;
  height: 19.35px;
}
.iconinstagram,
.iconlinkedin,
.iconwhatsapp {
  position: relative;
  width: 21px;
  height: 19.88px;
  flex-shrink: 0;
}
.iconlinkedin,
.iconwhatsapp {
  width: 14.99px;
  height: 17.3px;
}
.iconwhatsapp {
  width: 19.6px;
  height: 20.58px;
}
.iconfacebook-parent {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-mini);
  align-items: center;
  justify-content: center;
  gap: var(--gap-56xl);
}
.frame-group,
.frame-item {
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-group {
  align-self: stretch;
  height: 26.98px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xl) var(--padding-81xl);
  align-items: baseline;
  justify-content: space-between;
}
.frame-item {
  position: relative;
  border-top: 1px solid var(--color-black);
  width: 100vw;
  height: 51.41px;
  top: 34.98px;
}
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  z-index: 0; 
 
  
}
.frame-inner {
  border-radius: var(--br-sm);
  width: 114px;
  height: 119px;
  flex-shrink: 0;
  overflow: hidden;
  object-fit: cover;
}
.home {
  position: relative;
  width: 55px;
  height: 25px;
  flex-shrink: 0;
  cursor: pointer;
}

.about-us,
.contact-us,
.our-product,
.our-services {
  position: relative;
  width: 84px;
  height: 25px;
  flex-shrink: 0;
  cursor: pointer;
}
.about-us {
  width: 84px;
  color: var(--color-brown);
}
.contact-us,
.our-product,
.our-services {
  position: relative;
  width: 124px;
  height: 25px;
  flex-shrink: 0;
  cursor: pointer;
}
.contact-us,
.our-services {
  width: 129px;
}
.contact-us {
  width: 116px;
}
.frame-container,
.home-parent {
  display: flex;
  flex-direction: row;
}
.home-parent {
  align-items: baseline;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.frame-container {
  align-self: stretch;
  height: 190px;
  flex-shrink: 0;
  padding: var(--padding-25xl) var(--padding-43xl) 0 var(--padding-10xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1;
  font-size: var(--font-size-base);
}
.autolayout-aboutus-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
/* .jbros-infras2 {
  font-size: var(--font-size-13xl);
} */
/* .span {
  font-size: var(--font-size-xl);
} */
/* .jbros-infras1 {
  font-weight: 800;
  font-family: var(--font-inter);
} */
/* .jbros-infras {
  letter-spacing: 0.05em;
} */
.span1 {
  letter-spacing: -0.1em;
}
/* .jbros-infras-is-an-engineering {
  text-indent: 25px;
  margin: 0;
} */


.jbros-infras-is-an-engineering {
  text-indent: 25px;
  margin: 0;
}

.jbros-infras {
  letter-spacing: 0.05em;
}

.jbros-infras1 {
  font-weight: 800;
  font-family: var(--font-inter);
}

.jbros-infras2 {
  font-size: var(--font-size-13xl);
}

.span {
  font-size: var(--font-size-xl);
}

@media screen and (max-width: 768px) {
  /* Apply styles for screens with a maximum width of 768px */
  .jbros-infras-is-an-engineering {
    text-indent: 10px;
  }
  
  .jbros-infras1 {
    font-size: var(--font-size-2xl);
  }
  
  .jbros-infras2 {
    font-size: var(--font-size-xl);
  }
  
  .span {
    font-size: var(--font-size-l);
  }
}



/* .jbros-infras-is-container {
  position: absolute;
  top: 50px;
  left: 4px;
  line-height: 137.02%;
  display: flex;
  align-items: center;
  width: 591px;
  height: 436px;
} */


.jbros-infras-is-container1 {
line-break: anywhere;
width: 100%;
}

.jbros-infras-is-container {
position: absolute;
top: 50px;
left: 4px;
line-height: 137.02%;
display: flex;
align-items: center;
width: 591px;
height: 436px;
}

@media screen and (max-width: 768px) {
/* Apply styles for screens with a maximum width of 768px */
.jbros-infras-is-container {
  width: 100%;
  left: 0;
  top: 0;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
}

.image-1-icon {
  left: 17px;
  overflow: hidden;
}
.image-1-icon,
.image-3-icon,
.image-4-icon {
  position: absolute;
  top: 0;
  width: 678px;
  height: 422px;
  object-fit: cover;
}
.image-4-icon {
  left: 1537px;
  overflow: hidden;
}
.image-3-icon {
  left: -758px;
}
.carosuel,
.image-2-icon {
  position: absolute;
  height: 422px;
  overflow: hidden;
}
.image-2-icon {
  top: 0;
  left: 772px;
  width: 678px;
  object-fit: cover;
}
.carosuel {
  top: 60px;
  left: 728.5px;
  width: 645px;
}
.jbros-infras-is-an-engineering-parent {
  position: relative;
  width: 1411px;
  height: 536px;
  flex-shrink: 0;
  z-index: 0;
  text-align: justify;
}
.we-believe-in {
  position: relative;
  
}
.we-believe-in-wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  position: relative;
  top:-10px;
}
@media screen and (max-width: 768px) {
  /* Apply styles for screens with a maximum width of 768px */
  .about-us-wrapper {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }
  
  .we-believe-in {
    margin-top: 20px;
  }
}
.honest-1-icon {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100px;
  overflow: hidden;
  max-height: 100px;
  object-fit: cover;
}
.component-2 {
  position: relative;
  width: 115px;
  height: 70px;
  object-fit: cover;
  flex-shrink: 0;
}
.honesty {
  position: relative;
  display: inline-block;
  width: 66px;
}
.component-2-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:30px;
 
}
.component-3 {
  position: relative;
  width: 115px;
  height: 70px;
  flex-shrink: 0;
}
.component-3-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:30px;
}
.component-4 {
  position: relative;
  width: 115px;
  height: 70px;
  flex-shrink: 0;
}
.component-4-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:30px;
}
.component-5 {
  position: relative;
  width: 115px;
  height: 70px;
  flex-shrink: 0;
}
.component-5-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:30px;
}
.component-6 {
  position: relative;
  width: 115px;
  height: 70px;
  flex-shrink: 0;
}
.component-6-parent,
.frame-parent1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-6-parent {
  flex-direction: column;
  gap:30px;
}
.frame-parent1 {
  display: flex;
  width: 1256px;
  flex-direction: row;
  padding: 34px 0;
  box-sizing: border-box;
  gap: 175px;
  z-index: 5;
  text-align: center;
  font-size: var(--font-size-base);
  position: relative;
  top:-15px;
  justify-items: baseline;
  align-items: baseline;
}
.span2 {
  color: #d74e4e;
}
.us {
  color: var(--color-black);
}
.about-us-wrapper {
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: auto;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: center;
  z-index: 3;
  font-size: 30px;
  color: var(--color-brown);
}
.autolayout-aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .frame-div {
  position: absolute;
  top: 249px;
  left: 500px;
  border-radius: 56px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 1500px;
  height: 750px;
  flex-shrink: 0;
  padding: 10px 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 4;
} */
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 220px;
  left: 500px;
  right: 5%;
  border-radius: 56px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 1500px;
  height: 750px;
  flex-shrink: 0;
  padding: 10px 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 4;
}

@media screen and (min-width: 768px) {
  /* Apply styles for screens with a minimum width of 768px */
  .frame-div {
    left: 10%;
    right: 10%;
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  /* Apply styles for screens with a minimum width of 1200px */
  .frame-div {
    left: 20%;
    right: 20%;
    width: 60%;
  }
}
.autolayout-aboutus {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  justify-content: flex-end;
  background-image: url('./images/background_image.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}



